---
layout: default
title: Works
---

{% comment %}
{% for category in site.data.categories %}
<!-- <div id="group{{category.name}}" class="m-auto grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 mx-8 sm:mx-0 sm:-mt-5 mb-10">  -->
{% endfor %}{% endcomment %}

<div class="m-auto grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 mx-8 sm:mx-0 sm:-mt-5 mb-10">
  {% for item in site.data.gallery %}
    {% if item.name == 'spacermd' %}
    <div class="invisible aspect-[3/2] row-span-2 hidden lg:block"></div>
    {% elsif item.name == 'spacersm' %}
    <div class="invisible aspect-[3/1] row-span-1 hidden sm:block"></div>
    {% elsif item.name == 'spacer' %}
    <div class="invisible aspect-square row-span-3 hidden lg:block"></div>
    {% else %}
    <div id='a{{item.cat}}' class="sm:m-5 xl:m-4 lg:m-3 my-auto mb-10 rounded-3xl sm:bg-transparent shadow-lg shadow-primary/30 row-span-3 sm:aspect-square sm:hover:scale-125 sm:hover:bg-secondary sm:hover:rotate-3 transition-all group {% if item.inv %}bg-primary{%else%}bg-secondary{%endif%}" {% comment %} {% if category.name == 'All' or item.cat == category.name %}  style="display: block;" {% else %}style="display: none;"{% endif %} {% endcomment %}>
      <a href="/kpstudio/projects/{{ item.link }}">
        <div class="bg-primary rounded-t-3xl sm:rounded-3xl sm:group-hover:scale-90 sm:group-hover:-rotate-3 transition-all sm:group-hover:shadow-lg bg-cover aspect-square" style="background-image: url(/kpstudio/assets/images/projects/{{item.link}}/thumb.jpg);">
          <div class="transition-all flex items-end sm:group-hover:bg-primary/30 rounded-3xl sm:bg-transparent sm:h-full">
            <p class="transition-all italic text-transparent sm:group-hover:text-secondary text-3xl font-sans ml-4 mb-4 pt-4 hidden overflow-hidden sm:block">
              {{ item.name }}
            </p>
          </div>
          <div class="flex sm:hidden items-end size-full">
            <div class="bg-contain bg-repeat-x bg-bottom w-full h-8 animate-bggallery translate-y-1 {%if item.inv%}bg-[url('{{ '/assets/images/wavephotoreapinv.png' | relative_url }}')]{%else%}bg-[url('{{ '/assets/images/wavephotoreap.png' | relative_url }}')]{%endif%}">
            </div>
          </div>
        </div>
        <div class="flex items-end sm:hidden overflow-x-hidden">
          <p class="{% if item.inv %}text-secondary{% else %}text-primary{% endif %} sm:text-secondary text-4xl lowercase mx-6 mt-3 mb-5 sm:hidden italic leading-9">
            {{ item.name }}
          </p>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
    {% comment %}
    <!-- {% for category in site.data.categories %}
      {% if item.cat == category.name %}
      <div id="{{category.name}}" class="sm:m-5 xl:m-4 lg:m-3 my-auto mb-10 rounded-3xl sm:bg-transparent shadow-lg shadow-primary/30 row-span-3 sm:aspect-square sm:hover:scale-125 sm:hover:bg-secondary sm:hover:rotate-3 transition-all group {% if item.inv %}bg-primary{%else%}bg-secondary{%endif%}" style="display: block">
        <a href="/projects/{{ item.link }}">
          <div class="bg-primary rounded-t-3xl sm:rounded-3xl sm:group-hover:scale-90 sm:group-hover:-rotate-3 transition-all sm:group-hover:shadow-lg bg-cover aspect-square" style="background-image: url(/assets/images/projects/{{item.link}}/thumb.jpg);">
            <div class="transition-all flex items-end sm:group-hover:bg-primary/30 rounded-3xl sm:bg-transparent sm:h-full">
              <p class="transition-all italic text-transparent sm:group-hover:text-secondary text-3xl font-sans ml-4 mb-4 pt-4 hidden overflow-hidden sm:block">
                {{ item.name }}
              </p>
            </div>
            <div class="flex sm:hidden items-end size-full">
              <div class="bg-contain bg-repeat-x bg-bottom w-full h-8 animate-bggallery translate-y-1 {%if item.inv%}bg-[url('/assets/images/wavephotoreapinv.png')]{%else%}bg-[url('/assets/images/wavephotoreap.png')]{%endif%}">
              </div>
            </div>
          </div>
          <div class="flex items-end sm:hidden overflow-x-hidden">
            <p class="{% if item.inv %}text-secondary{%else%}text-primary{%endif%} sm:text-secondary text-4xl lowercase mx-6 mt-3 mb-5 sm:hidden italic leading-9">
              {{ item.name }}
            </p>
          </div>
        </a>
      </div>
      {% endif %}
    {% endfor %} -->
    {% endcomment %}
    
</div>


{% comment %}
<!-- menu categorie -->
<!-- <div class="hidden sm:flex mx-8 sm:mx-0 sm:ml-8 my-10 flex-col items-end fixed left-[10%] top-72 peer">
  {% for category in site.data.categories %}
  <label for="{{category.name}}" class="text-background dark:text-background-dark mr-6 bg-primary shadow-md shadow-primary/20 py-2 px-3 rounded-xl text-xl mb-4 basis-0 w-fit has-[:checked]:bg-secondary has-[:checked]:text-primary group">
    {{category.name}}
    <input type="radio" name="radio" {% if category.name == site.data.categories.first.name %} checked {% endif %} id="{{category.name}}" class="hidden">
  </label>
  {% endfor %}
</div> -->
{% endcomment %}