---
layout: default
---
{% for img in page.imgs%}
{% if img.size == 'hero' %}
    
<div class="col-span-ful mb-10 shadow-lg sm:rounded-3xl shadow-primary/20 animate-fadeIn">
        <img
        class="size-full sm:rounded-3xl object-cover"
        src="{{ '/assets/images/' | relative_url | append: page.url | append: img.url | append: '.jpg' }}"
        alt="{{ img.alt }}"
        />
</div>
{% endif %}
{% endfor %}
<div class="grid grid-cols-6 gap-6 mx-8 sm:mx-0">
    
    <div class="col-span-full animate-fadeIn opacity-0" style="animation-delay: 100ms; animation-fill-mode: forwards;">

        <h1 class="mb-3 font-serif text-3xl">
            {{page.title[site.active_lang]}}
        </h1>
        <div class="text-xl italic">
            {{page.description[site.active_lang]}}
        </div>
    </div>
    {% for img in page.imgs%}
    {% unless img.size == 'hero' %}
        
    <div class="{% if img.size == 'full' %} col-span-full {% elsif img.size == 'third' %} col-span-2 {% else %} col-span-3 {% endif %} shadow-lg shadow-primary/20 rounded-3xl animate-fadeIn">
        <img
        class="size-full rounded-3xl object-cover"
        src="{{ '/assets/images/' | relative_url | append: page.url | append: img.url | append: '.jpg' }}"
        alt="{{img.alt}}"
        />
    </div>
    {% endunless %}
        
    {% endfor %}
    <ul class="col-span-full my-10 flex flex-wrap sm:mx-0">
    {% for technology in page.tecnologies %}
    <li
      class="mb-4 mr-6 inline rounded-xl bg-primary px-3 py-2 text-xl text-background shadow-md shadow-primary/20 dark:text-background-dark"
    >
      <a>{{technology}}</a>
    </li>
    {% endfor %}
  </ul>
</div>